/* main {
  height: 100%;
} */

.delicacies_hero {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.delicacies_hero div {
  height: 100%;
  /* border: 1px solid darkolivegreen; */
  border-radius: 10px;
  background: #003011;

  padding: 5px;
}
.delicacies_hero div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.delicacies_hero div img:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
}

.delicacies_hero div ul:hover {
  transform: scaleY(0.95);
  transition: all 0.4s ease-in-out;
}

.foodname {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}
.fooddesc {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
}
.seemore {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  color: greenyellow;
}

@media screen and (max-width: 762px) {
  .delicacies_hero {
    flex-direction: column;
    /* width: 100%; */
  }

  .delicacies_hero div {
    display: flex;
    gap: 0.5em;
    height: 6.6em;
  }
  .delicacies_hero div img {
    width: 50%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
  }
  .delicacies_hero div img:hover {
    transform: scale(1.03);
    transition: all 0.4s ease-in-out;
  }
}

.restaurants {
  background-image: url("/banner.jpg");
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.hero {
  display: grid;
  place-items: center;
  height: 100%;
  &_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    background: #00000080;
    padding: 1.5rem 1.5rem;
    color: #fff;
    overflow-wrap: break-word;

    h1 {
      font-size: 3rem;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    p {
      font-family: sans-serif;
      font-size: 17px;
    }

    div {
      display: flex;
      // flex-wrap: wrap;
      gap: 7px;
      width: 100%;
      input {
        border-radius: 4px;
        width: 50%;
        font-size: 10px;
        padding: 0.7rem 1rem;
      }
      button {
        background: yellowgreen;
        width: 50%;
        border-radius: 4px;
        padding: 0.7rem 1rem;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #000;
        &:hover {
          background: #003011;
          color: #fff;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }

  @media screen and (max-width: 762px) {
    &_contents {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
        width: 80%;
      }
      div {
        flex-direction: column;
        input {
          width: 100%;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}

.heroTwo {
  display: grid;
  place-items: center;
  height: 100%;
  &_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding: 1.5rem 1.5rem;
    color: #fff;
    overflow-wrap: break-word;
    width: 50%;
    letter-spacing: 1px;

    h1 {
      // font-size: 3rem;
      // font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    p:first-of-type {
      font-family: sans-serif;
      font-size: 14px;
      color: #9acd32;
    }
    p:nth-of-type(2) {
      font-family: sans-serif;
      font-size: 15px;
      margin-bottom: 1rem;
      line-height: 22px;
    }
    button {
      // background: var(--secondary-color);
      color: white;
      padding: 1rem 1.2rem;
      font-size: 16px;
      border: none;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all 0.5s ease-in-out;
      }

      &::before {
        background: rgba(255, 255, 255, 0.1);
        opacity: 0;
        transform: scaleX(0);
        z-index: 1;
      }

      &::after {
        content: "GET LISTED TODAY";
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        transform: scaleX(1);
        //   opacity: 0.5;
      }

      &:hover {
        &::before {
          opacity: 1;
          transform: scaleX(1); /* Full width */
        }

        &::after {
          transform: scaleX(0); /* Collapse height */
          opacity: 0; /* Fade out */
        }

        color: #1f2937; /* Change text color on hover */
        background: white; /* Change background color */
      }
    }
  }

  @media screen and (max-width: 900px) {
    &_contents {
      width: 100%;
      h1 {
        // font-size: 42px;
      }
      p {
        font-size: 18px;
        width: 80%;
      }
    }
  }
}

.offer {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 2em;
  &__horizontal {
    width: 100%;
    box-sizing: border-box;
    div {
      height: 1px;
      min-width: 100%;
      box-shadow: 4px;
      background-color: #9acd32;
    }
    p {
      padding: 1rem 0.5rem;
      display: flex;
      justify-content: space-between;
      color: #9acd32;
    }
  }
  &__subscribe {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    div {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem 0 0;
      border-radius: 5px;
      border: 1px solid #9acd32;
      input {
        background: transparent;
        color: #9acd32;
        width: 100%;
        height: 2.5em;
        font-family: Brown(woff), sans-serif;
        border: none;
        outline: none;
      }
      input::placeholder {
        color: #cfcfcf; /* Change this to your desired color */
        opacity: 0.7; /* Optional: Ensures the color is fully opaque */
        font-size: 12px;
        padding-left: 1em;
      }
      button {
        color: #9acd32;
      }
    }
    p {
      font-weight: 300;
      color: #cfcfcf;
      font-size: 11px;
      // max-width: 70%;
      margin: 1rem 0 0 0;
      font-family: Brown(woff), sans-serif;
      letter-spacing: 1px;
      a {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 762px) {
    max-width: 100%;
    padding: 1rem 4rem;
  }
}
